.table {
    overflow-y: scroll;
    max-height: 700px;
    min-width: 100%;
}

.table-body {
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    padding: 10px;
}

.table-header {
    position: relative;
    text-align: left;
    padding: 10px;
    background-color: "#f4f4f4";
    text-align: left;
    width: 400px;
}

.descrition {
    width: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

.descrition svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.table-header select {
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 7px;
}

.table-header span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.table-wrapper {
    overflow-x: auto;
}

.filter {
    margin-left: 20px;
}

.filter-container {
    padding: 200px;
}

.table-cell {
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 50px;
}

.tooltip {
    padding: 20px;
}
.add-btn-conteiner-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    padding: 5px;
}

@media (max-width: 768px) {
    .table {
        max-height: 500px;
        max-width: 300px;
    }

    .amount {
        display: none;
    }

    .table-header {
        padding: 8px;
    }

    .table-header select {
        font-size: 12px;
        padding: 8px;
    }

    .table-cell {
        padding: 6px;
        font-size: 0.9rem;
        max-width: 50px;
        width: 100%;
    }

    .filter-container {
        padding: 20px;
    }

    .table-cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .table-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .table-card .card-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .table-card .card-row:last-child {
        margin-bottom: 0;
    }

    .table-card .label {
        font-weight: bold;
        color: #555;
    }

    .table-card .value {
        color: #333;
        text-align: right;
    }

    .total-sum {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
        color: #444;
    }
}