.chart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chart-title {
  font-size: 24px;
  font-weight: 800;
}

.chart-component {
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  padding: 10px;

}

.pie-charts-container {
  display: flex;
  justify-content: space-around;
}

.pie-chart {
  width: 48%;
}

@media (max-width: 768px) {
  .chart-header {
    flex-direction: column;
  }
  .chart-title{
    margin: 0 0 20px 0;
  }
  .pie-charts-container{
    flex-direction: column;
  }
  .pie-chart{
    width: 100%;
  }
  .chart-buttons{
    display: flex;
    justify-content: space-around;
  }
}